<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Sage SIParCS Search Engine</title>
</head>
<body>
<h1>Metadata Search Engine</h1>
<hr>
<div class="form" align="center">
    <form action="result.html" method="post">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="query">
        <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
</div>
</body>
</html>